DB_STRING="postgresql+psycopg2://dbadmin:pass@db:5432/frusablog"
ALEMBIC_DB_URL="postgresql+psycopg2://dbadmin:pass@db:5432/frusablog"
DEBUG=True
EMAIL_APP_PASSWORD="pass"
APP_EMAIL_ADDRESS="email"
EMAIL_TEMPLATES_PATH="assets/templates/email/"
BACKEND_URL="http://localhost:8000"
FRONTEND_URL="http://localhost:3000"
ADMIN_EMAIL="pass"
GEMINI_API_KEY="GEMINI_API_KEY"

NEXT_PUBLIC_SERVER_URL = "http://localhost:8000"
NEXT_PUBLIC_API_VERSION = "v1"
NEXT_PUBLIC_API_URL = "http://localhost:8000/v1"

PG_USER = "dbadmin"
PG_PASSWORD = "pass"
PG_DATABASE = "frusablog"
